@*
@model List<ObjetoEscuelaBase>
*@


<table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var alumno in @Model)
    {
        <tr>
            <td>@alumno.Id</td>
            <td>@alumno.Nombre</td>
            <td>
            <a asp-action="Update" asp-route-id="@alumno.Id" class="btn btn-success">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@alumno.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>