@model List<Curso>

@{
    ViewData["Title"]="Informacion Curso";
    Layout="Simple";
}
<h1>@ViewData["Title"] </h1>

<b>Desde la vista Parcial</b>

<partial name="ListaObjetoEscuela" />

<p>@ViewBag.Fecha</p>